.contextmenu {
  display: none;
  position: absolute;
  margin: 0px;
  padding: 5px 0px;
  width: 200px;
  background-color: var(--dropdown-color);
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
  border-radius: 4px;
}

.contextmenu-active {
  display: block;
}

.contextmenu-item {
  /* Removes bullet on item */
  display: block;
  /* Taken from bootstrap
   * dropdown-menu>li>a */
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  border-color: var(--dropdown-color);
  /* custom */
  text-align: left;
  cursor: pointer;
}

.contextmenu-item:hover {
  /* From bootstrap */
  color: #262626;
  background-color: var(--dropdown-color-light);
}
