.tablemenubar {
  margin-top: 15px;
}

.tablemenubar-search-box {
  margin-top: 19px;
  position: relative;
}

.tablemenubar-search-box input {
  width: 200px;
  background-color: var(--input-background-color);
  color: var(--title-color);
  border: 1px solid var(--input-background-color);
  border-radius: 4px;
}

.tablemenubar-search-icon {
  color: var(--input-icon-color);
  position: absolute;
  top: 5px;
  left: 6px;
}

.tablemenubar-reset-icon {
  color: var(--input-icon-color);
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.tablemenubar-cog-icon {
  position: absolute;
  top: 5px;
  left: -30px;
}

.tablemenubar-buttons {
  margin-top: 17px;
}

.tablemenubar-input {
  padding-left: 30px;
  padding-right: 25px;
}
