.tablemenubar {
  margin-top: 15px;
  margin-bottom: 15px;
}

.tablemenubar-search-box {
  margin-top: 19px;
  position: relative;
}

.tablemenubar-search-box input {
  width: 200px;
  background-color: var(--input-background-color);
  color: var(--title-color);
  border: 1px solid var(--input-background-color);
  border-radius: 4px;
}

.tablemenubar-input-icon {
  color: var(--input-icon-color);
}

.tablemenubar-buttons {
  margin-top: 17px;
}
