.contentpage-panel {
  margin: 16px 15px;
  margin-bottom: 60px;
  /*padding: 5px 30px;
   * old theme
   * border-radius: 5px;
   * border: 1px solid #ccc;
   * display: inline-block;
   * min-width: calc(100% - 30px);
   */
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

@media only screen and (min-width: 768px) {
  .contentpage-panel {
    margin: 16px 57px;
    /* padding: 5px 30px;
     * old theme
     * border-radius: 5px;
     * border: 1px solid #ccc;
     * display: inline-block;
     * min-width: calc(100% - 30px);
     */
  }
}

