.contentpage-container {
  top: var(--menubar-height);
  position: absolute;
  right: 0px;
  left: 0px;
  transition: top 0.8s cubic-bezier(0.02, 0.01, 0.47, 1);
  bottom: 0px;
}

.contentpage-container.contentpage-container-player-visible {
  top: calc(var(--menubar-height) + var(--trackslider-width));
}

.contentpage-panel {
  margin: 16px 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  /* Give space for bottom nav bar
   * Use padding since Safari can collapse bottom-most margin */
  margin-bottom: 0;
  padding-bottom: 60px;
}

.contentpage-title {
  border-bottom: 1px solid var(--separator-color);
}

@media only screen and (min-width: 768px) {
  .contentpage-panel {
    margin: 16px 57px;
    padding-bottom: 0;
  }

  .contentpage-container-narrow {
    left: calc(var(--sidebar-width) - 5px);
  }

  .contentpage-container-wide {
    left: calc(var(--playlistbar-width) - 5px);
  }

  .contentpage-container-transition {
    transition: left SIDEBAR_ENTER_TIMEOUTms cubic-bezier(0.02, 0.01, 0.47, 1),
      top 0.8s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
}
