.menubar-site-logos {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-left: 45px;
}

.menubar-site-logo {
  width: 102px;
  height: auto;
  fill: var(--title-color);
}

.menubar-site-logo-name {
  color: var(--title-color);
  font-weight: 800;
  font-style: italic;
  transform: scaleX(2);
  margin-left: 40px;
}
