# Ignore node_modules, for all packages
/client/node_modules
/client/packages/*/node_modules

# Ignore web client build artifacts
/client/packages/waves-client-web/build

# Ignore web client config file
/client/packages/waves-client-web/src/config/config.js

# istanbuljs code coverage output
.nyc_output

# TODO remove reliance on vendor code
/client/packages/waves-client-web/vendor

# Ignore rust build
/server/target

# Ignore rust config
/server/src/config/config.json
