# Ignore node_modules, for all packages
/node_modules
/packages/*/node_modules

# Ignore vim swap files
*.swp

# Ignore web client build artifacts
/packages/waves-client-web/build

# Ignore web client config file
/packages/waves-client-web/src/config.json

# Ignore web client certs
/packages/waves-client-web/rootfs/etc/letsencrypt
/packages/waves-client-web/rootfs/etc/ssl

# Ignore server config file
/packages/waves-server-main/config.json
