# Ignore node_modules, for all packages
/node_modules
/packages/*/node_modules

# Ignore web client build artifacts
/packages/waves-client-web/build

# Ignore web client config file
/packages/waves-client-web/src/config.js

# Ignore server config file
/packages/waves-server-main/config.js

# istanbuljs code coverage output
.nyc_output

# TODO remove reliance on vendor code
/packages/waves-client-web/vendor

# Ignore rust build
/packages/waves-server-rust/target
/packages/waves-server-rust/config.json
