.tablebar {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tablebar-search-box {
  position: relative;
}

.tablebar-search-box input {
  width: 200px;
  background-color: var(--input-background-color);
  color: var(--title-color);
  border: 1px solid var(--input-background-color);
  border-radius: 4px;
}

.tablebar-search-icon {
  color: var(--input-icon-color);
  position: absolute;
  top: 5px;
  left: 6px;
}

.tablebar-reset-icon {
  color: var(--input-icon-color);
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.tablebar-cog-icon {
  position: absolute;
  top: 5px;
  left: -30px;
}

.tablebar-input {
  padding-left: 30px;
  padding-right: 25px;
}
