
.site-main-left {
  width: 100%;
  padding: 45px 15px;
  float: left;
}

.site-main-right {
  width: 100%;
  padding: 45px 15px;
  float: right;
}

@media only screen and (min-width: 861px) {
  .site-main-left {
    width: 45%;
    padding: 45px 80px;
  }
}

@media only screen and (min-width: 861px) {
  .site-main-right {
    width: 55%;
    padding: 45px 80px;
    padding-left: 0px;
  }
}

.site-login-separator {
  height: 1px;
  background-color: var(--separator-color);
}

.site-google-button {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.site-google-login-img {
  border-radius: 4px;
}

.site-google-login-text {
  width: 100%;
  cursor: pointer;
}

.site-main-browser {
  width: 100%;
  border: 5px solid var(--separator-color);
  border-radius: 10px;
}

.site-main-browser-img {
  width: 100%;
  border-radius: 10px;
}

.site-main-browser-bar>div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  margin-left: 5px;
}

/* TODO move out and add spacing to player menu bar? */
.site-main-browser-bar {
  background-color: var(--separator-color);
  border-bottom: 3px solid var(--separator-color);
}

/*
.site-idp-separator {
  height: 5px;
  width: 45%;
  display: inline-block;
  border-top: 1px solid var(--separator-color);
}

.site-idp-separator-words {
  text-align: center;
  margin: 20px 0px;
  width: 10%;
  display: inline-block;
  font-size: 13px;
}
*/
