.trackplayer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--trackplayer-background-color);
  border: 2px solid var(--trackplayer-background-color);
  border-radius: 0;
  transition: height 1s ease, width 1s ease, top 1s ease, border 1s ease,
    border-radius 1s ease, padding 1s ease;
  padding: 0 15px;
}

@media only screen and (min-width: 516px) {
  .trackplayer {
    height: 51px;
    width: 320px;
    top: 7px;
    border: 2px solid var(--trackplayer-border-color);
    border-radius: 25px;
    padding: 0;
  }
}

.trackplayer-info-title {
  text-align: center;
  font-size: 13px;
  color: #000;
}

.trackplayer-info-artist {
  text-align: center;
  font-size: 11px;
  color: #000;
}

.trackplayer-btn {
  margin-left: 5px;
  margin-right: 5px;
}

.trackplayer-btn:hover {
  text-shadow: 0px 0px 10px #0c88dc, 0px 0px 20px #0f60f7;
}

.trackplayer-btn-active {
  color: #428bca;
}

.trackplayer-left {
  width: 72px;
  margin-left: 11px;
  overflow: hidden;
  white-space: nowrap;
}

.trackplayer-right {
  width: 72px;
  text-align: right;
  margin-right: 11px;
  overflow: hidden;
  white-space: nowrap;
}
