.common-table-status-ok {
  color: #19b698;
}

.common-table-row-selected {
  background-color: var(--selected-color);
  border-color: var(--selected-color-border);
  border-style: solid;
  color: var(--title-color);
}

.common-table-row-reorder-bottom {
  border-bottom-style: solid;
  border-bottom-color: #19b698;
}

.common-table-row-reorder-top {
  border-top-style: solid;
  border-top-color: #19b698;
}

.table > tbody > tr.common-table-row-selected > td:first-child {
  padding-top: 1px;
}

.table > tbody > tr.common-table-row-selected > td:last-child {
  padding-bottom: 1px;
}

@media only screen and (min-width: 768px) {
  .table > tbody > tr.common-table-row-selected > td,
  .table > tbody > tr.common-table-row-selected > td:first-child,
  .table > tbody > tr.common-table-row-selected > td:last-child {
    padding: 7px;
  }
}

.common-columns-small-screen-hide {
  display: none;
}

@media only screen and (min-width: 768px) {
  .common-columns-small-screen-hide {
    display: table-cell;
  }
}

.table-sortable {
  color: var(--title-color);
  white-space: nowrap;
}

.table-sortable-icon {
  margin-left: 8px;
}

.table-play-icon {
  color: #52ca19;
  margin-right: 10px;
}

.table-pause-icon {
  color: #f17b10;
  margin-right: 10px;
}

.table-blank-icon {
  padding-right: 25px;
}
