.menubar-main-header {
  min-height: var(--menubar-height);
  /* Needed to hide content in case user scrolls up */
  background: var(--body-color);
  position: fixed;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

/* Logo */
.menubar-main-logo {
  display: inline;
  position: relative;
  width: 102px;
  height: auto;
  top: 14px;
  left: 36px;
  opacity: 1;
  transform: scaleX(1);
  fill: var(--title-color);
}

.menubar-main-logo.menubar-player-visible.menubar-transition {
  transition: opacity 1s ease, left 1s ease, width 1s ease, transform 1s ease;
}

.menubar-main-logo.menubar-player-visible {
  left: 0px;
  width: 0px;
  opacity: 0;
  transform: scaleX(0.565);
}

@media only screen and (min-width: 516px) {
  .menubar-main-logo.menubar-player-visible {
    opacity: 1;
    width: 102px;
    left: 0;
    transform: scaleX(0.565);
  }
}

@media only screen and (min-width: 768px) {
  .menubar-main-logo.menubar-player-visible {
    left: 36px;
    transform: scaleX(1);
  }
}

/* Logo name */
.menubar-main-logo-name.menubar-player-visible {
  transition: opacity 1s ease;
}

.menubar-main-logo-name {
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 180px;
  width: auto;
  height: auto;
  color: var(--title-color);
  font-size: 14px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 800;
  font-style: italic;
  transform: scaleX(2);
}

.menubar-main-logo-name.menubar-player-visible {
  opacity: 0;
}

@media only screen and (min-width: 1025px) {
  .menubar-main-logo-name.menubar-player-visible {
    opacity: 1;
  }
}

.menu-bar-icon {
  margin: 20px 20px 0 0;
  list-style: none;
  font-size: 14px;
  float: right;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  cursor: pointer;
}

@media only screen and (min-width: 516px) {
  .menu-bar-icon {
    opacity: 1;
    pointer-events: auto;
  }
}
