.trackplayer {
  height: 51px;
  position: absolute;
  left: 50%;
  top: 7px;
}

.trackplayer-info {
  border-width: 2px;
  border-color: var(--trackplayer-border-color);
  border-radius: 25px;
  border-style: solid;
  background-color: var(--trackplayer-background-color);
  transform: translate(-50%, 0);
  width: 320px;
}

.trackplayer-info-title {
  text-align: center;
  font-size: 13px;
  color: #000;
  margin-top: 5px;
  margin-bottom: 2px;
}

.trackplayer-info-artist {
  text-align: center;
  font-size: 11px;
  color: #000;
  margin: 0;
}

.trackplayer-btn {
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

.trackplayer-btn-lg {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.trackplayer-btn-lg:hover,
.trackplayer-btn:hover {
  text-shadow: 0px 0px 10px #0c88dc, 0px 0px 20px #0f60f7;
}

.trackplayer-btn-active {
  color: #428bca;
}

.trackplayer-left {
  transform: translate(-160px, 0);
  width: 160px;
}

.trackplayer-left-btns {
  float: left;
  margin-left: 20px;
  margin-top: 9px;
}

.trackplayer-right {
  width: 160px;
}

.trackplayer-right-btns {
  float: right;
  margin-right: 32px;
  margin-top: 15px;
}
