.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
  border-style: dashed;
  border-color: var(--upload-border-color);
  line-height: 200px;
  text-align: center;
}

.upload-drop-zone-dragging {
  background-color: var(--selected-color);
  border-color: var(--selected-color-border);
  border-style: solid;
}

.upload-file-input {
  display: inline-block;
  vertical-align: middle;
}
